html {
  height: 100%;
}

body {
  height:100%;
  margin:0;
  padding:0;
  font-family: Helvetica;
  background:#FAF4B1;
  color: #394240;
}

#map-canvas {
  height: 100%;
}

h1{
  position: absolute;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px #FAF4B1;
  color: #45AAB8;
}

h5{
  text-align: center;
  font-size: 15px;
  color: #FAF4B1;
  font-style: italic;
}

.container {
  height: 100%;
  width: 100%;
  background: #FAF4B1;
}

.header{
  background-color: #394240;
  height: 250px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.line {
  height: 10px;
  float: bottom;
  background: #45AAB8;
}

.login{
  text-align: center;
}

.centered {
  text-align: center;
}
