<div class="header">
  <div id="logout"><input type="button" value="Log Out"></input></div>
  <h2>LinkedIn Heat Map</h2>
  <h5>Where is your network located?</h5>
</div>
<div class="line"></div>
<div class="login"><script type="IN/Login"></script></div>
<div class="user_wrapper">
  <div id="greeting"></div>
  <div id="photo"></div>
  <div id="info"></div>
  <select id="dropdown">
    <option>Choose Location</option>
  </select>
  <p>
  <ul id="list"></ul>
</div>
<div id="map-canvas"></div>
</body>
</html>