<div class="header">
  <h2>LinkedIn Heat Map</h2>
  <h5>Where is your network located?</h5>
</div>
<div class="line"></div>
<div class="login"><script type="IN/Login"></script></div>
<div class="user_wrapper">
  <div id="greeting"></div>
  <div id="photo"></div>
  <div id="info"></div>
</div>
  <div id="map-canvas"></div>
</body>
</html>